[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/vim-tagbar"]
	path = vim/bundle/vim-tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "vim/bundle/vim-unite"]
	path = vim/bundle/vim-unite
	url = git@github.com:Shougo/unite.vim.git
[submodule "vim/bundle/vim-tmuxline"]
	path = vim/bundle/vim-tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "vim/bundle/vim-promptline"]
	path = vim/bundle/vim-promptline
	url = git@github.com:edkolev/promptline.vim.git
[submodule "vim/bundle/vim-nerdtree"]
	path = vim/bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-jellybeans"]
	path = vim/bundle/vim-jellybeans
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/vim-ack"]
	path = vim/bundle/vim-ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/vim-proc"]
	path = vim/bundle/vim-proc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-force.com"]
	path = vim/bundle/vim-force.com
	url = git@github.com:neowit/vim-force.com.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
